.slide-right {
  -webkit-animation: slide-right 2s ease-in-out infinite alternate;
  animation: slide-right 2s ease-in-out infinite alternate; }

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(2%);
    transform: translateX(2%); } }

a {
  text-decoration: none; }

.valorant__paragraph {
  display: flex;
  position: absolute;
  top: 59%;
  padding-top: 1.3rem; }

.valorant__tarjeta {
  background-image: url(../imagenes/wallpapersfade-valorant_1920x1080.jpg); }

.valorant__texto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF4655; }

.valorant__iframe {
  box-shadow: 0px 4px 1px 1px rgba(0, 0, 0, 0.523); }

.apex__tarjeta {
  background-image: url(../imagenes/apex-section-bg-battle-pass-defiance-season-top-hero-xl.jpg.adapt.1456w.jpg); }

.apex__logo {
  transform: scale(0.5); }

.apex__texto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3fb02; }

.apex__iframe {
  box-shadow: 0px 4px 1px 1px rgba(0, 0, 0, 0.523); }

.champions__tarjeta {
  background-image: url(../imagenes/100832.jpg); }

.champions__texto {
  padding: 1rem; }

.champions__iframe {
  width: 100%; }

.algs__tarjeta {
  background-image: url(../imagenes/apex-legends-pre-season-invitational-feature.jpg);
  background-position: center; }

.algs__iframe {
  width: 100%; }

.algs__frame {
  background-color: rgba(0, 0, 0, 0.301); }

.val p {
  font-size: 20px; }

.val img {
  transform: scale(0.7);
  filter: drop-shadow(0 0 10px rgba(254, 254, 254, 0.841)); }

.val__tarjeta {
  background-image: url(../imagenes/Yoru_Killjoy_1920x1080.jpg);
  background-size: cover; }

.val__frame {
  transform: scale(0.1); }

.apx p {
  font-size: 20px; }

.apx__tarjeta {
  background-image: url(../imagenes/newcastle.jpg);
  background-size: cover;
  width: 100%; }

.apx__logo {
  transform: scale(0.5); }

.vct {
  background-image: url(../imagenes/ValorantWallpaper_johnslatte2.jpg); }

.vct__iframe {
  display: flex; }

ul {
  list-style: none;
  padding-left: 0; }

.ags {
  background-image: url(../imagenes/SKWFY5O2ZFEURPVX3GBTZVFUO4.jpg);
  background-position: center; }

.backgroundTemplate, .valorant__tarjeta, .apex__tarjeta, .champions__tarjeta, .algs__tarjeta, .vct, .ags {
  background-size: cover; }

.gallery {
  color: #EE584B;
  font-size: 30px;
  text-shadow: 1px 2px 2px black; }
