.slide-right {
	-webkit-animation: slide-right 2s ease-in-out infinite alternate ;
	        animation: slide-right 2s ease-in-out infinite alternate ;
}

@keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(2%);
              transform: translateX(2%);
    }
}

a {
        text-decoration: none;
    }

.valorant {
        
    &__paragraph {
        display: flex;
        position: absolute;
        top: 58%;
        padding-top: 1.5rem;
    }
    &__tarjeta {
        background-image: url(../imagenes/wallpapersfade-valorant_1920x1080.jpg);
        background-size: cover;
    }
    &__texto {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FF4655;
    }
  }
 
  .apex {
    
    &__tarjeta {
        background-image: url(../imagenes/apex-section-bg-battle-pass-defiance-season-top-hero-xl.jpg.adapt.1456w.jpg);
        background-size: cover;
    }
    &__logo {
      transform: scale(0.5);
    }
    &__texto {
        display: flex;
        justify-content: center;
        align-items: center;
       // VARIABLE APLICADA A COLOR
        color:$bgColor 
        // VARIABLE APLICADA A COLOR
    }
      }

  .champions {
  
    &__tarjeta {
      background-image: url(../imagenes/100832.jpg);
      background-size: cover;
   }
    &__texto {
      padding: 3rem;
   }
    &__iframe {
      width: 100%;
   }
     }

  .algs {
    &__tarjeta {
      background-image: url(../imagenes/apex-legends-pre-season-invitational-feature.jpg);
      background-size: cover;
      background-position: center;
   }
    &__texto {
    padding: 2rem;
   }
    &__iframe {
      width: 100%;
   }   
    &__frame {
      background-color: rgba(0, 0, 0, 0.301);
      padding: 2rem;
   }
     }

  //  PÁGINA E-SPORTS
  .vct {
      background-image: url(../imagenes/ValorantWallpaper_johnslatte2.jpg);
      background-size: cover;
  }
  .vct__iframe {
      display: flex;
  }
  ul {
      list-style: none;
      padding-left:0
  }
  .ags {
      background-image: url(../imagenes/SKWFY5O2ZFEURPVX3GBTZVFUO4.jpg);
      background-size: cover;
      background-position: center;
  }